#hud {
background: black;
width:10000vw !important;
position: absolute !important;
height:80.8vw !important;
margin-right:0vw !important;
margin-top:0vw !important;
}
#hud #player-header {
    display:none;
}
#hud #player-bc {
    display:none;
}